/main.py
/venv/
/.idea/
/Lesson_1/Пример проекта для MacOS 1/
/Lesson_1/Пример проекта для MacOS 2/
/Lesson_1/Урок 1. Коды примеров/
/Lesson_1/Урок 1. Пример практического задания/
/Lesson_1/Урок 8. Пример практического задания/

/Lesson_1/Пример проекта для MacOS 1/
