/main.py
/venv/
/.idea/
/Lesson_1/Пример проекта для MacOS 2/
/Lesson_1/Урок 1. Коды примеров/
/Lesson_1/Урок 1. Пример практического задания/
/Lesson_1/Урок 8. Пример практического задания/
/Lesson_1/Пример проекта для MacOS 1/
/Lesson_2/Урок 2. Коды примеров/
/Lesson_2/Урок 2. Пример практического задания/
/Lesson_3/Урок 3. Коды примеров/
/Lesson_3/Урок 3. Пример практического задания/
/venv_2/
/Lesson_3/server_with_db.py
/Lesson_3/client_3.py
/Lesson_4/Урок 4. Коды примеров/
/Lesson_4/Урок 4. Пример практического задания/
/Lesson_4/server_with_db.py
/Lesson_5/server_with_db.py
/Lesson_5/test.py
/Lesson_6/Урок 6. Коды примеров/
/Lesson_6/Урок 6. Пример практического задания/
/Lesson_5/Урок 5. Коды примеров/
/Lesson_5/Урок 5. Пример практического задания/
